@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-facebook, .icon-twitter, .icon-github, .icon-linkedin {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
    content: "\e000";
}
.icon-twitter:before {
    content: "\e001";
}
.icon-github:before {
    content: "\e002";
}
.icon-linkedin:before {
    content: "\e003";
}

/* General
----------------------------------------------------------------------------------------------------*/
body {
    padding-top: 20px;
    padding-bottom: 40px;
}
.jumbotron {
    text-align: center;
}

/* Further info blocks
----------------------------------------------------------------------------------------------------*/
.further-info {
    text-align: center;
    vertical-align: top;
    position: relative;
    height: 460px;
}

.further-info-link-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Social links
----------------------------------------------------------------------------------------------------*/

ul.social {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
}
ul.social li {
    list-style: none;
    display: inline-block;
    margin-right: 16px;
}

ul.social li a {
    display: block;
    margin: 0;
    padding: 18px 18px 18px 18px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* http://brandcolors.net/ */
.icon-facebook {
    background-color: #3b5998;
}
.icon-twitter {
    background-color: #00acee;
}
.icon-linkedin {
    background-color: #0e76a8;
}
.icon-github {
    background-color: #171515;
}

