.header {
    text-align: center;
    padding: 30px 30px;
}
.header h1 {

}
.header p {

}

.row {
    margin-bottom: 15px;
}

.link {
    display: block;
    width: 100%;
    height: 200px;
}

/* http://brandcolors.net/ */
.facebook {
    background: #3b5998 url("../img/icons/iconmonstr-facebook-icon-256.png") no-repeat center center;
    background-size: 120px 120px;
}
.twitter {
    background: #00acee url("../img/icons/iconmonstr-twitter-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}
.linkedin {
    background: #0e76a8 url("../img/icons/iconmonstr-linkedin-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}
.github {
    background: #171515 url("../img/icons/iconmonstr-github-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}
.wordpress {
    background: #21759b url("../img/icons/iconmonstr-wordpress-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}
.fivehunpx {
    background: #0099e5 url("../img/icons/iconmonstr-500px-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}
.delicious {
    background: #3399ff url("../img/icons/iconmonstr-delicious-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}
.instagram {
    background: #3f729b url("../img/icons/iconmonstr-instagram-6-icon-256.png") no-repeat center center;;
    background-size: 120px 120px;
}

